<html>
  <body>
    <table>
      <th>
        <td>Last Name</td>
        <td>First Name</td>
        <td>Email</td>
        <td>Zipcode</td>
        <td>City</td>
        <td>State</td>
        <td>Address</td>
        <td>Phone Number</td>
      </th>
      <% @attendees.each do |attendee| %>
      <tr>
        <td><%= attendee.last_name %></td>
        <td><%= attendee.first_name %></td>
        <td><%= attendee.email_address %></td>
        <td><%= attendee.zipcode %></td>
        <td><%= attendee.city %></td>
        <td><%= attendee.state %></td>
        <td><%= attendee.street %></td>
        <td><%= attendee.home_phone %></td>
      </tr>
      <% end %>
    </table>
  </body>
</html>